.d-flex{
    display: flex;
}

.flex-distributed{
    flex: 1 1 auto;
}

.align-items-center{
    align-items: center;
}
.justify-items-center{
    justify-items: center;
}
.justify-items-end{
    justify-items: flex-end;
}
.justify-space-between{
    justify-content: space-between;
}